rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function generalEmail() {
      return signedIn() && request.auth.token.email != null && (
        request.auth.token.email == 'flo1@gmail.com' ||
        request.auth.token.email == 'nico1@gmail.com' ||
        request.auth.token.email == 'luz1@gmail.com' ||
        request.auth.token.email == 'agus1@gmail.com'
      );
    }
    allow read, write: if generalEmail();
  }
}
